@tailwind base;
:focus {
    outline: none;
}
@tailwind components;
@media (min-width: 992px) {
    .container {
        max-width: calc(992px - 96px);
    }
}
@tailwind utilities;
@layer base {
    @font-face {
        font-family: 'Novocento Sans Wide';
        src: url('../fonts/Novecentosanswide-Normal.otf') format('opentype');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }
    @font-face {
        font-family: 'Novocento Sans Wide Medium';
        src: url('../fonts/Novecentosanswide-Medium.otf') format('opentype');
        font-weight: bold;
        font-style: normal;
        font-display: swap;
    }
}
